<div class="sidebar">
  <div class="sidebarItem">ADMIN</div>
  <div class="sidebarItem" (click)="client()">CLIENT</div>
  <div class="sidebarItem">ADS</div>
  <div class="sidebarItem">USER ENGAGEMENT</div>
  <div class="sidebarItem">CATEGORY</div>
  <div class="sidebarItem">SUB-CATEGORY</div>
  <div class="sidebarItem">CITY</div>
  <div class="sidebarItem">AREA</div>
  <div class="sidebarItem">COMPLAINTS</div>
  <div class="sidebarItem">FEEDBACK</div>
  <div class="sidebarItem">USERS</div>
  <div class="sidebarItem">IMAGE</div>
  <div class="sidebarItem">APP VERSION</div>
  <div class="sidebarItem">USER BONUSES</div>
</div>