app-nav {
  width: 20%;
}
.stuff {
  margin-left: 23%;
  position: absolute;
  top: 0%;
  margin-top: 130px;
  width: 70%;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.navItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navItem > div {
  padding: 16px;
  color: #f9e532;
  cursor: pointer;
}
.navItem > div:hover {
  color:black;
  background: #f9e532;
  transition: background 0.5s, color 0.8s;
}